.popup-panel-add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.address-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 60%;
    padding: 1.5%;
    animation: appear 250ms ease-in 1;
/* Adjust the width as needed */
    max-width: 1020px;
    height: 70vh; /* Adjust the height as needed */
    margin: auto; /* Center the popup horizontally */
}

.popup-panel .popup-address-frame form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.popup-panel .popup-address-frame form .popup-address-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup-panel .popup-address-frame form .popup-address-field .popup-address-header {
    margin-bottom: 2%;
    flex-wrap: wrap;
    text-align: center;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    
}

.popup-panel .popup-address-frame form .popup-address-field .user-info .input.name {
    border: 2px solid rgb(196, 196, 196);
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    width: 50%;
    margin-right: 5%;
    font-size: 20px;
    padding-left: 2%;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid darkgray;
}

.input.tel {
    width: 45%;
    font-size: 20px;
    padding-left: 2%;
    border-radius: 5px;
    border: 2px solid darkgray;
}

.input-address {
    display: flex;
    
    
    width: 100%;
    height: 150px;
    border: 2px solid rgb(196, 196, 196);
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    font-size: 18px;
    text-wrap: balance;
    text-align: left;
    padding: 2%;
    resize: none;
}

.popup-panel .popup-address-frame form .popup-address-field .input-popup-address::placeholder {
    color: rgb(224, 224, 224);
}

.popup-panel .popup-address-frame form .popup-address-field .input-popup-address::placeholder {
    text-wrap: balance;
    
}

.button-field {
    align-self: end;
}

.button-field .cancel-btn {
    
}

.button-field .confirm-btn {
    
}