.account-content-wrapper {
    display: flex;
    flex-direction: row;
}

.account-content-wrapper .sidebar {
    width: 8%;
    padding-left: 2%;
}

.account-content-wrapper #mainbody {
    width: 80%;
}

.account-content-wrapper .space {
    width: 10%;
}

.circle {
    border: solid 1.5px grey;
    border-radius: 100%;
}
.profileimg {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.border-top11 {
    border-top: 2px solid #CDCDCD;
}
.icon-profile-menu {
    width: 30px;
    margin-bottom: 10px;
}